
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.return-button {
    position: fixed;
    top: 90px;
    left: 20px;
    z-index: 10;
}

.return-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.return-link:hover {
    background-color: #ddd;
}


.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 80px auto 20px;
    max-width: 1200px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.product-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-image {
    flex: 1;
    max-width: 40%;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info h1 {
    font-size: 28px;
    margin-bottom: 16px;
    color: #333;
}

.product-info label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

.size-and-quantity{
    display:flex;
    justify-content: left;
    gap: 14px
}


.product-price {
    font-size: 22px;
    color: rgb(177, 39, 4);
    margin-top: 20px;
    font-weight: bold;
}

.added-to-cart-message {
    color: rgb(6, 125, 98);
    font-size: 16px;
  
    display: flex;
    align-items: center;
    margin-top: 8px;
  
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .added-to-cart-message img {
    height: 20px;
    margin-right: 5px;
  }
  
 .added-to-cart-message.is-visible {
    opacity: 1;
    transition: none;
  }

.add-to-cart {
    padding: 12px 20px;
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: rgb(221, 188, 18);
}


.related-products {
    padding: 20px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.related-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}


.related-products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 4fr));
    gap: 50px;
    justify-content: center;
}

.related-product {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.related-product:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.related-product img {
    width: fit-content;              
    height: fit-content;             
    max-height: 150px;       
    object-fit: cover;        
    border-radius: 5px;     
    margin-bottom: 10px;      
    max-width: 100%;         
}

.related-product .product-name {
    font-size: 16px;
    color: #333;
    margin: 10px 0 5px;
}

.related-product .product-price {
    font-size: 14px;
    color: rgb(177, 39, 4);
}



@media (min-width: 1521px) {
    .related-products-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);  
        gap: 20px;
    }
}


@media (max-width: 1520px) and (min-width: 900px) {
    .related-products-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        gap: 20px;
    }
}


@media (max-width: 900px) and (min-width: 600px) {
    .related-products-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        gap: 20px;
    }
}


@media (max-width: 600px) {
    .related-products-list {
        display: grid;
        grid-template-columns: 1fr;  
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .added-to-cart-message{
        justify-content:center
    }

    .size-and-quantity {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        max-width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .product-info {
        text-align: center;
    }

    
}
