main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 140px;
  margin-bottom: 100px;

  
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.page-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}

.payment-summary-holder{
  padding: 0;
  
}

.payment-summary-holder.scrolled > .payment-summary{
  top: 6.8% !important;
}

.payment-summary-holder.scrolled {
  position: fixed;
  top: 7.25%; /* Aligns with the top margin of the main content */
  height: 100%;
  
  width: calc(25vw + 10px);
     min-width: 323px; /* Minimum width */
     max-width: 356.66px; /* Maximum width */
    
  z-index: 1000; /* Ensure it appears on top */
}

@media (max-width: 1000px) {
  main {
    max-width: 500px;
  }
  .payment-summary-holder{
    padding: 0 15px;
    position:relative;
    left:"";
  }
  .checkout-grid{
    display:flex;
    flex-direction: column-reverse;
  }
  .cart-summary, .payment-summary-holder{
    flex: 0 0 100%;
    max-width: 100%;
  }

}

.cart-item-container,
.payment-summary {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.cart-item-container {
  margin-bottom: 12px;
}

.payment-summary {
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .payment-summary {
    
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.cart-item-details-and-delivery{

display:flex;
justify-content: space-between;
flex-wrap:wrap;

}

.cart-item-container .delivery-date {
  color: rgb(0, 118, 0);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.cart-item-container .cart-item-details-grid {
  display:flex;
 
  column-gap: 17px;
}

.cart-item-details-grid{
  margin-right:2rem;
  flex-wrap:wrap
}

.quantity-message {
  padding-top: 10px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.quantity-message.is-visible {
  opacity: 1;
}

.edit-quantity{
  font-weight: bold;
  margin: 8px 0px;
}

.delete-quantity{
  margin-top: 8px;
  text-align: auto;
}

.js-quantity-input{
  padding: 2px;
}

.kit-product{
  margin-top:0;
}

.kit-product-image-container{
  display:flex;
  flex-wrap:wrap;
  border:1px solid rgb(217, 217, 234);
  padding:15px 0px;
  position:relative

}
.size-options{
 margin-top:30px;
  display:flex;
  flex-direction:column;
  
}
.size-options-radio{
  display:flex;
  gap:4px
}

.button-and-message{
  display:'flex';
  margin-top:10px;
}

.update-size-message {
  font-size: 14px;
  opacity: 0;
  transition: opacity 1s ease-out;
  position:absolute;
  bottom:10%
}

.update-size-message.is-visible {
  opacity: 1;
}

.update-size-button,
.save-size-button{
  background-color: rgb(19, 25, 33);
  padding: 10px;
  font-weight: bold;
  color: white;
  border: none;
}

.update-size-button:hover, .save-size-button:hover{
  background-color: rgb(56, 75, 99);
  border: none;
}


.collapse-button{

  padding: 10px;
  font-weight: bold;
  background-color: rgb(221, 229, 239);
  border: none;
  color: rgb(19, 25, 33);
}

.collapse-button:hover{
  background-color: rgb(169, 181, 195);
  border-color: none;
}


@media (max-width: 1000px) {
  .cart-item-container .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }


}

.cart-item-container .product-image {
  max-width: 100%;
  max-height: 120px;

  
  margin-left: auto;
  margin-right: auto;
}

.cart-item .product-details-and-quantity{
  display: flex;
      flex-direction: column;
}

.cart-item-container .kit-product-image-container .product-details{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:15px
}
.cart-item-container .product-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.cart-item-container .product-price {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: 5px;
}

.cart-item-container .variation-info {
  margin-bottom: 3px;
}

.cart-item-container .product-quantity .link-primary {
  margin-left: 3px;
}

.cart-item-container .new-quantity-input {
  width: 50px;
  font-size: 16px;
}


.cart-item-container .new-quantity-input,
.cart-item-container .save-quantity-link {
  display: none;
}


.cart-item-container .is-updating-quantity .new-quantity-input,
.cart-item-container .is-updating-quantity .save-quantity-link {
  display: inline-block;
}

.cart-item-container .is-updating-quantity .quantity-label,
.cart-item-container .is-updating-quantity .update-quantity-link {
  display: none;
}

@media (max-width: 1000px) {
  .cart-item-container .delivery-options {
    
    grid-column: 1 / span 2;
  }
}

.cart-item-container .delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.cart-item-container .delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.cart-item-container .delivery-option-input {
  margin-left: 0px;
  margin-right: 5px;
  cursor: pointer;
}

.cart-item-container .delivery-option-date {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}

.cart-item-container .delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.cart-summary .view-products-link {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  margin-top: 10px;
}

.payment-summary .payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.payment-summary .payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}

.payment-summary .payment-summary-money {
  text-align: right;
}

.payment-summary .subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.payment-summary .before-tax-header{
  padding-top: 11px;
}

.payment-summary #before-tax-money{
  padding-top: 11px;
  border-top: 1px solid rgb(222, 222, 222);
}

.payment-summary .total-row {
  margin-bottom: 23.5px;
}



.payment-summary .total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}

.payment-summary .payment-buttons-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.payment-summary .place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;

  margin-top: 20px;
  margin-bottom: 19px;
}

.payment-summary .paypal-button-container {
  margin-top: 20px;
}

.payment-summary .paypal-toggle {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.payment-summary .paypal-toggle input {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.paypal-button-container {
  display: none;
}

.use-paypal .place-order-button {
  display: none;
}

.use-paypal .paypal-button-container {
  display: block;
}

#submit-payment{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 34.5px;
}
